.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product-card img {
    max-width: 50%;
}

#addToCartBtn {
    display: block;
    margin: 20px auto;
}
